#MimicMovieHost {
    width: 274px;
    height: 346px;
}
.playOverlayWrapper {
    height: 296px;
}
.playOverlay {
    margin-top: 103px;
}
.incompatibleWrapper {
    height: 296px;
}
.incompatibleOverlay {
    margin-top: 74px;
    margin-left: 54.8px;
}
