/*<meta />*/

@media only screen and (max-width: 767px)
{
	nav.title-bar
	{
		background-position: center top;
		background-repeat: no-repeat;
		background: #878787;
		background: -moz-linear-gradient(top, #878787 0%, #878787 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#878787), color-stop(100%,#878787));
		background: -webkit-linear-gradient(top, #878787 0%, #878787 100%);
		background: -o-linear-gradient(top, #878787 0%,#878787 100%);
		background: -ms-linear-gradient(top, #878787 0%,#878787 100%);
		background: linear-gradient(top, #878787 0%,#878787 100%);
		-pie-background: linear-gradient(#878787, #878787);
	}

	.title-bar-layout a.logo
	{
		width: 230px;
		height: 110px;
		background: transparent url('Images/SanDiegoLogoTransparent.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/SanDiegoLogoTransparent.png') no-repeat center center;
	}

	.search-bar .search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.search-bar .search-filter
	{
		background-position: center center;
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	.search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.off-canvas.position-right
	{
		background-position: top center;
	}

	.off-canvas.position-right ul ul
	{
		background-position: top center;
	}

	.off-canvas.position-left
	{
		background-position: top center;
	}

	.off-canvas.position-left ul ul
	{
		background-position: top center;
	}

	.title-bar-section.middle > div
	{
		
	}

	.off-canvas-wrapper-inner nav.title-bar .outer-row
	{
		
	}

	.title-bar-layout .logo-wrapper
	{
		min-height: 110px;
	}

	.menu-icon-container
	{
		min-height: 110px;
	}

	.off-canvas-wrapper-inner .outer-row
	{
		
	}

	.main-section > .outer-row
	{
		
	}

	.off-canvas
	{
		background-color: #333333;
	}

	.off-canvas ul ul
	{
		background-color: #333333;
	}

	ul.off-canvas-list li a
	{
		
	}

	ul.off-canvas-list ul > li > a
	{
		
	}

	ul.off-canvas-list ul ul > li > a
	{
		
	}

	ul.off-canvas-list ul ul ul > li > a
	{
		
	}

	ul.off-canvas-list ul ul ul ul > li > a
	{
		
	}

	ul.off-canvas-list li.js-drilldown-back > a
	{
		
	}

	ul.off-canvas-list li a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list ul > li > a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list ul ul > li > a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list ul ul ul > li > a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list ul ul ul ul > li > a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list li.js-drilldown-back > a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list li a.selected
	{
		
	}

	ul.off-canvas-list ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul ul > li > a.selected
	{
		
	}

	ul.off-canvas-list ul ul ul ul > li > a.selected
	{
		
	}

	.title-bar .menu-icon span
	{
		background: transparent url('Images/Menu.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/Menu.png') no-repeat center center;
	}

	nav.title-bar .menu-icon
	{
		left: auto;
		right: -13px;
	}

	.search-auto-complete ul
	{
		background-color: #ffffff;
	}

	.search-auto-complete li.auto-result-item a
	{
		
	}

	.search-auto-complete li.auto-result-item
	{
		
	}

	.search-auto-complete li.auto-result-content
	{
		
	}

	.search-auto-complete li.auto-result-history
	{
		
	}

	.search-auto-complete li.auto-result-item.auto-result-selected a
	{
		
	}

	.search-auto-complete li.auto-result-item.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-content.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-history.auto-result-selected
	{
		background-color: #ececec;
	}

	.search-auto-complete li.auto-result-item .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-description
	{
		
	}

	.search-auto-complete li.auto-result-item .auto-result-icon
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-icon
	{
		background: transparent url('Images/icon-topic.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-topic.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-history .auto-result-icon
	{
		background: transparent url('Images/icon-search.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-search.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-item .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-phrase
	{
		
	}

	.search-auto-complete li.auto-result-item .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li.auto-result-content .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li.auto-result-history .auto-result-phrase .search-result-highlight
	{
		
	}

	.search-auto-complete li .auto-result-remove
	{
		width: 17px;
		height: 27px;
		background: transparent url('Images/icon-remove.png') no-repeat center center;
		-pie-background: transparent url('Skins/Fluid/Stylesheets/Images/icon-remove.png') no-repeat center center;
		background-size: contain;
	}

	.search-auto-complete li.auto-result-item .auto-result-separator
	{
		
	}

	.nav-search-wrapper
	{
		
	}

	.nav-search
	{
		
	}

	.search-bar .search-field
	{
		background-color: #ffffff;
		padding-right: 50px;
	}

	.search-filter-content
	{
		top: 2em;
		background-color: #ffffff;
	}

	.search-bar .search-filter.open
	{
		background-color: #ffffff;
	}

	.search-bar .search-filter:hover
	{
		background-repeat: no-repeat;
		background-color: #ffffff;
	}

	.search-bar .search-filter.selected
	{
		background-repeat: no-repeat;
		background: transparent url('Images/Filter.png') no-repeat center center;
	}

	.search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	.search-bar .search-field::-webkit-input-placeholder
	{
		
	}

	.search-bar .search-field::-moz-placeholder
	{
		
	}

	.search-bar .search-field:-moz-placeholder
	{
		
	}

	.search-bar .search-field:-ms-input-placeholder
	{
		
	}

	.search-bar.search-bar-container .search-submit
	{
		background-repeat: no-repeat;
		background-color: #1DFFF9;
	}

	.search-bar.search-bar-container .search-submit:hover
	{
		background-repeat: no-repeat;
		background-color: #1DFFF9;
	}
}

